---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: web1
  labels:
    app: nginx
spec:
  replicas: 4
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.16.0
        ports:
        - containerPort: 80
        livenessProbe:
            httpGet:
              path: /
              port: 80
        readinessProbe:
            httpGet:
              path: /
              port: 80
      nodeSelector:
        app: nginx

